[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/cncf/docsy.git
	docsy-pin = v0.9.1
	docsy-reminder = "Ensure that all tags from google/docsy are also present in cncf/docsy, otherwise add (push) them."
