{{ $year := now.Year }}

<footer class="td-footer row d-print-none">
  <div class="container col-5">
    {{ with site.Copyright }}
    <p><small>
      &copy; {{ $year }} {{ . }}
    </small></p>
    {{ end }}
    <p><small>
      &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
    </small></p>
    <br/>
  </div>
</footer>
